<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fetch and Display Data from Database</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="mystyle.css" rel="stylesheet" />
  </head>
  <body>
    <div class="table-data">
      <h1>Fetch Data from MYSQL Table</h1>

      <p>
        users-List= <%= userData.length %></p>

      <table border="2">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% if (userData.length) {for (var i = 0; i < userData.length; i++) {
          %>
          <tr>
            <th scope="row"><%= (i+1) %></th>
            <td><%= userData[i].Name %></td>
            <td><%= userData[i].Email %></td>
          </tr>
          <%} }else { %>
          <tr>
            <td>Data does not exist!</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
