body {
     background-color: rgb(177, 172, 172);
   }
   h1 {
     color: rgb(51, 10, 60);
     margin-top: auto;
     padding: block 7px;
     font-family: Verdana;
     font-size: 300%;
   }

   p {
     color: rgb(60, 3, 54);
     font-family: Calibri;
     font-size: 170%;
   }
   p {
     border: 10rem solid rgb(4, 1, 4);
   }
   form {
     justify-items: center;
     width: 100px;
     height: 3.5rem;
     margin: 4rex;
     padding: 1, 10%;
   }

   .form-control {
     width: 100;
     height: 1rem;
     margin: 1rem;
     padding: 1rem;
   }

   .form-control {
     margin: auto;
   }

   .form-control label .form-control input {
     display: block;
   }

   .form-control input {
     border: 1px black;
     font: inherit;
     border-radius: 2px;
     padding: 10rem;
     width: 20rem;
     justify-items: center;
   }

   button {
     font: inherit;
     font-style: oblique;
     border: 2px rgb(215, 219, 217);
     padding: 10rem;
     background-color: rgb(61, 7, 54);
     color: whitesmoke;
     max-width: 10rem;
     border-radius: 15px;
   }
   #hi {
     font-size: 80px;
     max-width: 100%;
   }
   input {
     border-radius: 20px;
     width: 20rem;
   }
   .form-div {
     justify-self: unset;
   }
   .Register {
     width: 10rem;
     max-width: max-content;
     align-items: center;
     margin: auto;
   }